/pgdata/
/.venv/
/.idea/vcs.xml
/app.log.2025-11-10
/.idea
.idea
/.idea/*
/.env
/pdfs/processed/10th-science-chap-1.pdf
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
uploads/
pdfs/
*.log
local_dev.db
.vscode/
