[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = {extras = ["standard"], version = "*"}
fastapi = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
pydantic-settings = "*"
aiofiles = "*"
python-dotenv = "*"
langchain = "*"
langchain-core = "*"
langchain-community = "*"
langchain-text-splitters = "*"
langchain-huggingface = "*"
google-generativeai = "*"
python-multipart = "*"
sqlmodel = "*"
passlib = "*"
pdfplumber = "*"
pydantic = {extras = ["email"], version = "*"}
python-jose = {extras = ["cryptography"], version = "*"}
bcrypt = "*"
greenlet = "*"
asyncpg = "*"
apscheduler = "*"
pgvector = "*"
sentence-transformers = "*"
scikit-learn = "*"
pypdf = "*"
langchain-postgres = "*"

[dev-packages]

[requires]
python_version = "3.14"
